body {
    background:url('../img/bg-site.jpg') no-repeat #587b2a;
    background-size: cover;
    
}

#container {
    background: rgb(255, 253, 253);
    max-width: 500px;
    text-align: center;
    border: 3px solid #312f32;
    margin: 0 auto;
    border-radius: 30px;

}

#container h1 {
    color: rgb(13, 13, 13);
    padding: 15px;
    font-size: 30px;

}
#tarefa{
    border: 2px solid #0a0a0a;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: rgb(151, 31, 113);
}
#tarefa::placeholder{
    color: #312f32;
}
.butTon{
    background: rgb(85, 81, 81);
    padding:2px;
    border:5;
    border-radius: 7px;

}
.link{
    color: #0a0a0a;


}
.link2{
     color: #0a0a0a;
}